<%= @guild.name %>
<%= @guild.guild_tag %>
<%= @guild.server %>
<%= @guild.wvw_playstyle %>
<%= @guild.average_member_count %>

<%= link_to 'Edit', edit_guild_path %>
<%= link_to 'Delete', guild_path(@guild), method: :delete %>


<div class="center">
    <h4>Contacts</h4>
    <%= render "contacts/new" %>
    <div class="col-md-offset-5">
    <table class="table-bordered">
        <th>Name</th>
        <th>Rank</th>
        <th>Delete</th>
      <% @guild.contacts.each do |contact| %>
        <% if contact.id != nil %>
        <tr>
          <td><%= contact.contact_alias %></td>
          <td><%= contact.rank %></td>
          <td><%= link_to 'Delete', guild_contact_path(contact.guild_id, contact.id), method: :delete %> </td>
        </tr>
        <% end %>
      <% end %>
    </table>
    </div>
</div>
