<%= @guild.name %>
<%= @guild.guild_tag %>
<%= @guild.server %>
<%= @guild.wvw_playstyle %>
<%= @guild.average_member_count %>

<%= link_to 'Edit', edit_guild_path %>
<%= link_to 'Delete', guild_path(@guild), method: :delete %>

<h3>Contacts</h3>

<%= render "contacts/new" %>
<% @guild.contacts.each do |details| %>
  <%= details %>
  <%= "Name: #{details.contact_alias} Rank: #{details.rank}" %>
  <%= link_to 'Delete', guild_contact_path(:id), method: :delete %> </br>
<% end %>


