<%= @guild.name %>
<%= @guild.guild_tag %>
<%= @guild.server %>
<%= @guild.wvw_playstyle %>
<%= @guild.average_member_count %>

<%= link_to 'Edit', edit_guild_path %>
<%= link_to 'Delete', guild_path(@guild), method: :delete %>

<h3>Contacts</h3>

<%= render "contacts/new" %>

<% @guild.contacts.each do |contact| %>
  <% if contact.id != nil %>
    <%= "Name: #{contact.contact_alias} Rank: #{contact.rank}" %>
    <%= link_to 'Delete', guild_contact_path(contact.guild_id, contact.id), method: :delete %> </br>
  <% end %>
<% end %>


